[Unit]
Description=Gobonding Proxy Service
Requires=network-online.target
After=syslog.target network-online.target

[Service]
Type=simple
WorkingDirectory=/usr/local/gobonding/router
ExecStartPre=sh /usr/local/gobonding/router/router-setup.sh
ExecStart=/usr/local/gobonding/router/router
ExecStopPost=sh /usr/local/gobonding/router/router-shutdown.sh
Restart=on-failure
RestartSec=60
KillMode=control-group
TimeoutStopSec=300

[Install]
WantedBy=multi-user.target